<!DOCTYPE html>
<html>
  <head>
    <title>SSCatFacts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Con estas 2 líneas llamamos a los archivos CSS y Javascript de Bootstrap y demás -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row fixed-top position-fixed left-0">
         <div class="col-md-2 border h-100">
            <div id="sidebar">
              <header>
                <a href="/">SSCatFacts <i class="fas fa-cat"></i></a>
              </header>
               <% if current_user %>
                  <ul class="nav flex-column flex-fill">
                    <li >
                      <a href="<%= url_for(fact_cats_favorite_path) %>">
                        <i class="zmdi zmdi-view-dashboard"></i> Mis favoritos
                      </a>
                    </li>
                    <li>
                      <a href= "<%= url_for(destroy_user_session_path) %>">
                        <i class="zmdi zmdi-calendar"></i> Cerrar sesión
                      </a>
                    </li>
                  </ul>
                <% end %>
            </div>
          </div>
          <div id = 'content' class="col-md-10">
              <%= yield %>
          </div>
      </div>
    </div>
  </body>
</html>
